<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title></title>
</head>

<body style="background-color: #F2F7FD;">
    <div id="report">
        <div class="reportBlock">
            <button style="position: absolute; left: 760px; top: 15px;" v-on:click="close">X</button>
            <button style="position: absolute; left: 15px; top: 15px;" v-on:click="print">Print</button>
            <h3 style="text-align: center;">Protocol issued by measuring the weigth of the rock mass through <br> the
                weigh
                scale installed for measurement of total hoisted stones</h3>
            <br>
            <div class="date">
                <input type="date" name="" id="" v-on:change="fromDateChange" v-model="startDate">
                <input type="date" name="" id="" v-on:change="tillDateChange" v-model="endDate">
            </div>
            <br>
            <div class="shift">
                <select name="" id="" v-model="selectShifts" @change="selectShiftChange">
                    <option v-for="shift in shifts">
                        {{shift}}
                    </option>
                </select>
            </div>
            <br>
            <p>Static Date:&emsp;{{objectShift.beginDate}}&emsp;&emsp;&emsp;{{objectShift.endDate}}</p>
            <p>Total skips:&emsp;{{objectShift.skips}}&emsp;pcs</p>
            <p>Total weight:&emsp;{{objectShift.weight}}&emsp;t</p>
            <br>
            <div class="scroll-table">
                <table>
                    <thead>
                        <tr>
                            <th>Time & Date</th>
                            <th>Skip</th>
                            <th>Skip No</th>
                            <th>Wheight</th>
                        </tr>
                    </thead>
                </table>
                <div class="scroll-table-body">
                    <table>
                        <tbody>
                            <tr v-for="data in objectShift.datas">
                                <td>{{ data.time }}</td>
                                <td>{{ data.batcher }}</td>
                                <td>{{ data.number }}</td>
                                <td>{{ data.gross }} - {{ data.tare }} = {{ data.net }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            <div class="footer" id="footer">
                <div>Date:&emsp;{{ datePrintingReport.month }}/{{ datePrintingReport.day }}/{{ datePrintingReport.year
                    }}
                </div>
                <div class="operator">Operator______________________</div>
            </div>
    </div>
</body>
<!-- <script>let exports = module.exports;</script> -->
<script src="./node_modules/vue/dist/vue.js"></script>
<script src="./report.js"></script>

<!-- <script src="./node_modules/vue/dist/vue.js"></script>
<script src="./report.js"></script> -->

</html>