<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title></title>
</head>

<body style="background-color: #F2F7FD;">
    <div id="report" v-bind:style="report">
        <div class="reportBlock">
            <button style="position: absolute; left: 760px; top: 15px;" v-on:click="close">X</button>
            <button style="position: absolute; left: 15px; top: 15px;" v-on:click="print">Print</button>
            <template v-if="reportValue === 'shifts'">
                <h3 style="text-align: center;">Protocol issued by measuring the weigth of the rock mass through <br>
                    the weigh scale installed for measurement of total hoisted stones</h3>
            </template>
            <template v-if="reportValue === 'fractions'">
                <h3 style="text-align: center;">Protocol issued by measuring the weight of the mass of crushed stone
                    fractions <br>
                    through the weigh scales installed in the skip pocket and conveyer belts</h3>
            </template>
            <div class="date">
                <input type="date" name="" id="" v-on:change="fromDateChange" v-model="startDate">
                <div class="shift">
                    <select name="" id="" v-model="selectShifts" @change="selectShiftChange">
                        <option v-for="shift in shifts">
                            {{shift}}
                        </option>
                    </select>
                </div>
                <input type="date" name="" id="" v-on:change="tillDateChange" v-model="endDate">
            </div>
            <p>Static Date:&emsp;{{objectShift.beginDate}}&emsp;&emsp;&emsp;{{objectShift.endDate}}</p>
            <p>Total skips:&emsp;&emsp;{{objectShift.skips}}&emsp;pcs</p>
            <p>Total weight:&emsp;{{objectShift.weight}}&emsp;t</p>
            <template v-if="reportValue === 'shifts'">
                <div class="scroll-table">
                    <table>
                        <thead>
                            <tr>
                                <th class="th_shifts_1">No</th>
                                <th class="th_shifts_2">Time & Date</th>
                                <th class="th_shifts_3">Skip</th>
                                <th class="th_shifts_4">Skip No</th>
                                <th class="th_shifts_5">Weight</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="scroll-table-body">
                        <table>
                            <tbody>
                                <tr v-for="(data, index) in objectShift.datas">
                                    <td class="td_shifts_1">{{index + 1}}</td>
                                    <td class="td_shifts_2">{{ data.time }}</td>
                                    <td class="td_shifts_3">{{ data.batcher }}</td>
                                    <td class="td_shifts_4">{{ data.number }}</td>
                                    <td class="td_shifts_5" id="weight">{{ data.gross }} - {{ data.tare }} = {{ data.net }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </template>
            <template v-if="reportValue === 'fractions'">
                <div class="scroll-table">
                    <table>
                        <thead>
                            <tr>
                                <th id="th_fractions">Fraction</th>
                                <th>Fine Stone (00-05 mm)</th>
                                <th>05-20 mm</th>
                                <th>20-40 mm</th>
                                <th>40-60 mm</th>
                                <th>60-80 mm</th>
                                <th>Boulder</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="scroll-table-body">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Weight, t</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Production <br> Percentage</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </template>
        </div>
        <div class="counter">{{count}}</div>
        <div class="footer">
            <div>Date:&emsp;{{ datePrintingReport.month }}/{{ datePrintingReport.day }}/{{ datePrintingReport.year
                }}
            </div>
            <div class="operator">Operator______________________</div>
        </div>
    </div>
</body>
<!-- <script>let exports = module.exports;</script> -->
<script src="./node_modules/vue/dist/vue.js"></script>
<script src="./report.js"></script>

<!-- <script src="./node_modules/vue/dist/vue.js"></script>
<script src="./report.js"></script> -->

</html>