@media print {    
    button {
        display: none;
    }
    input {
        display: none;
    }
    select {
        display: none;
    }
    .footer  {
        bottom: 0px;
        position: fixed;
        display: flex;
    }
    .operator {
        bottom: 0px;
        position: fixed;
        left: 450px;
    }
    tr:nth-child(15) {
        page-break-after: always;
    }
    tr:nth-child(37) {
        page-break-after: always;
    }
    tr:nth-child(59) {
        page-break-after: always;
    }
    tr:nth-child(81) {
        page-break-after: always;
    }
    tr:nth-child(103) {
        page-break-after: always;
    }
    tr {
        display: block;
    }
    td:nth-child(1) {
        width: 30%;
    }   
    td:nth-child(2) {
        width: 25%;
    }
    td:nth-child(3) {
        width: 15%;
    }
    td:nth-child(4) {
        width: 250px;
    }
    th:nth-child(1) {
        width: 30%;
    }   
    th:nth-child(2) {
        width: 25%;
    }
    th:nth-child(3) {
        width: 15%;
    }
    th:nth-child(4) {
        width: 250px;
    }
    table {
        border-collapse: collapse;
        border:0;
    }
    td {
        border: 1px solid black;
    }
}

body {
    overflow: hidden;
}

/* td {
    border: 3px solid #E8E9EF;
    text-align: center;
    /* height: 10px;     */
/* } */

/* table {
    width: 100%;
    padding: 0 11px 13px 11px;
    border-collapse: collapse;
} */

.date {
    display: flex;
    justify-content: space-around;
}

.shift {
    display: flex;
    justify-content: space-around;
}

@media screen { 
	.footer  {
        display: none;
    } 
    .scroll-table-body {
        height: 290px;
    }
    .reportBlock {
        height: 400px;
        margin-bottom: 100px;
    }
    td {
        border: 3px solid #E8E9EF;
        text-align: center;
        /* height: 10px;     */
    }
    table {
        width: 100%;
        padding: 0 11px 13px 11px;
        border-collapse: collapse;
    }
}

.scroll-table-body {
	overflow-x: auto;
	margin-top: 0px;
}
.scroll-table table {
	width:100%;
	table-layout: fixed;
	border: none;
}
.scroll-table thead th {
	font-weight: bold;
	text-align: center;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
}
.scroll-table tbody td {
	text-align: center;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 5px 0px 5px 0px;
	font-size: 14px;
	vertical-align: top;
}
.scroll-table tbody tr:nth-child(even){
	background: #f3f3f3;
}

