@media print
{    
    button {
        display: none;
    }
    input {
        display: none;
    }
    select {
        display: none;
    }
}

td {
    border: 3px solid #E8E9EF;
    text-align: center;
    height: 19px;    
}

table {
    width: 100%;
    padding: 0 11px 13px 11px;
    border-collapse: collapse;
}

tbody tr {
    background: white;
    outline: none;
}

.table {
    flex-grow: 1;
    margin-right: 14px;
    overflow-y: auto;
    overflow-x: hidden;

}

thead th {
    top: 0;
    position: sticky;
    z-index: 1;
    background-color: #EEECEF;
    height: 35px;
}

.date {
    display: flex;
    justify-content: space-around;
}

.shift {
    display: flex;
    justify-content: space-around;
}
