@media print {    
    button {
        display: none;
    }
    input {
        display: none;
    }
    select {
        display: none;
    }
    .footer  {
        left: 50px;
        bottom: 60px;
        position: fixed;
    }
    .operator {
        bottom: 60px;
        position: fixed;
        left: 350px;
    }
    tr:nth-child(35) {
        page-break-after: always;
    }
    tr:nth-child(35)::after {
        position: relative;
        top: 40px;
        left: 630px;
        /* counter-increment: page 1; */
        content: '1';
    }
    tr:nth-child(82) {
        page-break-after: always;
    }
    tr:nth-child(82)::after {
        position: relative;
        top: 40px;
        left: 630px;
        counter-increment: page 2;
        content: counter(page);
    }
    tr:nth-child(129) {
        page-break-after: always;
    }
    tr:nth-child(129)::after {
        position: relative;
        top: 40px;
        left: 630px;
        counter-increment: page 3;
        content: counter(page);
    }
    tr:nth-child(176) {
        page-break-after: always;
    }
    tr:nth-child(176)::after {
        position: relative;
        top: 40px;
        left: 630px;
        counter-increment: page 4;
        content: counter(page);
    }
    tr:nth-child(223) {
        page-break-after: always;
    }
    tr:nth-child(223)::after {
        position: relative;
        top: 40px;
        left: 630px;
        counter-increment: page 5;
        content: counter(page);
    }
    tr:nth-child(270) {
        page-break-after: always;
    }
    tr:nth-child(270)::after {
        position: relative;
        top: 40px;
        left: 630px;
        counter-increment: page 6;
        content: counter(page);
    }
    tr:nth-child(317) {
        page-break-after: always;
    }
    tr:nth-child(317)::after {
        position: relative;
        top: 40px;
        left: 630px;
        counter-increment: page 7;
        content: counter(page);
    }
    tr {
        display: block;
    }
    /* td:nth-child(1) {
        width: 5%;
    }  */
    .td_shifts_1 {
        width: 5%;
    } 
    /* td:nth-child(2) {
        width: 30%;
    }    */
    .td_shifts_2 {
        width: 30%;
    }  
    /* td:nth-child(3) {
        width: 25%;
    } */
    .td_shifts_3 {
        width: 25%;
    }
    /* td:nth-child(4) {
        width: 10%;
    } */
    .td_shifts_4 {
        width: 10%;
    }
    /* td:nth-child(5) {
        width: 250px;
    } */
    .td_shifts_5 {
        width: 250px;
    }
    /* th:nth-child(1) {
        width: 4%;
    }  */
    .th_shifts_1 {
        width: 4%;
    } 
    /* th:nth-child(2) {
        width: 29%;
    }    */
    .th_shifts_2 {
        width: 29%;
    } 
    /* th:nth-child(3) {
        width: 25%;
    } */
    .th_shifts_3 {
        width: 25%;
    }
    /* th:nth-child(4) {
        width: 12%;
    } */
    .th_shifts_4 {
        width: 12%;
    }
    /* th:nth-child(5) {
        width: 250px;
    } */
    table {
        border-collapse: collapse;
        border:0;
    }
    td {
        border: none;
        font-size: 14px;
        text-align: center;
    }
    .counter {
        display: block;
        height: 10px;
        text-align: end;
        padding-right: 60px;
        margin-bottom: 70px;
        /* top: 100px;
        position: relative;
        left: 630px; */
    } 
    /* tr:nth-child(129)::after {
        position: fixed;
        top: 100px;
        left: 100px;
        counter-increment: page;
        content: "{{count}}";
    } */
    .reportBlock {
        height: 100%;
    }

}

html, body {
    height: auto;
    overflow: hidden;
}

.date {
    display: flex;
    justify-content: space-around;
}

.shift {
    display: flex;
    justify-content: space-around;
}

@media screen { 
	.footer  {
        display: none;
    } 
    .scroll-table-body {
        height: 300px;
    }
    .reportBlock {
        height: 400px;
        margin-bottom: 100px;
    }
    td {
        border: 3px solid #E8E9EF;
        text-align: center;
    }
    table {
        width: 100%;
        padding: 0 11px 13px 11px;
        border-collapse: collapse;
    }
    .scroll-table tbody td {
        text-align: center;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        padding: 5px 0px 5px 0px;
        font-size: 14px;
        vertical-align: top;
    }
    /* td:nth-child(1) {
        width: 5%;
    }    */
    .td_shifts_1 {
        width: 5%;
    } 
    /* th:nth-child(1) {
        width: 5%;
    }  */
    .th_shifts_1 {
        width: 5%;
    } 
    /* td:nth-child(4) {
        width: 10%;
    }    */
    .td_shifts_4 {
        width: 10%;
    } 
    /* th:nth-child(4) {
        width: 10%;
    } */
    .th_shifts_4 {
        width: 10%;
    }
    .counter {
        display: none;
    }
}

.scroll-table-body {
	overflow-x: auto;
	margin-top: 0px;
}
.scroll-table table {
	width:100%;
	table-layout: fixed;
	border: none;
}
.scroll-table thead th {
	font-weight: bold;
	text-align: center;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
}
.scroll-table tbody tr:nth-child(even){
	background: #f3f3f3;
}

#weight {
    text-align: start;
    padding-left: 50px;
}

#report {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}
